<h1> Active Tasks </h1>
<% if @tasks.blank? %>
  <p>There are no tasks to show. Why don't you make some?</p>
<% else %>
  <% @tasks.each do |task| %>
    <%= form_for task do |f| %>
       <%= f.submit "Done." %>
    <% end %> 
    <%= task.title %>
    <br>
  <% end %>
<% end %>
<p>Add Task:</p>
<%= render "new" %>