<h1> Active Tasks </h1>
<% if @tasks.blank? %>
  <p>There are no tasks to show. Why don't you make some?</p>
<% else %>
  <% @tasks.each do |task| %>
<%= link_to "&#10003;".html_safe, task_path(task:{completed: true}) %> <%= task.title %>
  <% end %>
<% end %>
<p>Add Task:</p>
<%= render "new" %>